@page "/Databases"

<Divider Orientation="left"><h3>Sql Server</h3></Divider>
<Row>
    <Col Span="24">
        <Carousel Autoplay="TimeSpan.FromSeconds(3)">
            <CarouselSlick>
                <h5>T-SQL</h5>
                <Row>
                    <Col Span="18">
                        <Comment Author="Scripting, Stored Procedures and CLR integration"
                                    Avatar="images/sql-server.png"
                                    Content="High Proficiency in Data Manipulation Language (DML) Data Definition Language (DDL) Data Control Language (DCL) and Transaction Control Language (TCL). All with the latest version."
                                    Datetime="">
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="95" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>
            <CarouselSlick>
                <h5>Performance Optimizer</h5>
                <Row>
                    <Col Span="18">
                        <Comment Author="Research and Troubleshooting"
                                    Avatar="images/performance.png"
                                    Content="High Proficiency in Analysis and resolution of performance problems in database servers. Query tunning and index strategies."
                                    Datetime="">
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="95" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>
            <CarouselSlick>
                <h5>Server Maintenance</h5>
                <Row>
                    <Col Span="18">
                        <Comment Author="Maintennance plans and Jobs"
                                    Avatar="images/tools.png"
                                    Content="High Proficiency in Sql Server maintenance plans and problem resolution."
                                    Datetime="">
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="95" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>
            <CarouselSlick>
                <h5>Indexing</h5>
            </CarouselSlick>
        </Carousel>
    </Col>
</Row>

@code{

}