@page "/"

<div>
    <Divider Orientation="left">Welcome!!</Divider>
    <Row>
        <Col Span="12">
        Hello my name is Daniel and this is a portfolio test in Blazor
        </Col>
    </Row>
    <Row>
        <Col Span="12">
        <Image Src="images/net-core.jpg"/>
        </Col>
    </Row>
</div>