@page "/"

<div>
    <Divider Orientation="left">Responsive</Divider>
    <Row>
        <Col Span="6">
        Primera columna
        </Col>
        <Col Span="6">
        2 col-order-responsive
        </Col>
        <Col Span="6">
        3 col-order-responsive
        </Col>
        <Col Span="6">
        4 col-order-responsive
        </Col>
    </Row>
</div>