@page "/SourceControl"
@inject IJSRuntime JSRuntime
@inject MessageService _message

<Divider Orientation="left"><h3>Source Code Integration and CI/CD</h3></Divider>
<Row>
    <Col Span="24">
        <Carousel Autoplay="TimeSpan.FromSeconds(30)" @ref="_carousel">
            <CarouselSlick>
                <Row>
                    <Col Span="18">
                        <Comment Author="Git/Gitlab"
                                    Avatar="images/git.png"
                                    Content="Extended use of git as source code provider. Use of github actions."
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:50%;" Hoverable="true">
                                    <pre class="code">
                                        <code class="yaml">
                                            @SnippetGitActions
                                        </code>
                                    </pre>
                                </CardGrid>
                                <CardGrid Style="width:50%;text-align:center" Hoverable="false">
                                    <Image Src="images/git-01.png" Style="margin: 2px 2px 2px 2px;text-align: center" Width="600px"/>
                                    <Image Src="images/git-02.png" Style="margin: 2px 2px 2px 2px;text-align: center" Width="600px"/>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="85" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>

            <CarouselSlick>
                <h5>r</h5>
                <Row>
                    <Col Span="18">
                        <Comment Author="Jenkins"
                                    Avatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                                    Content="CI/CD with Jenkins Automation Server."
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:50%;text-align:center" Hoverable="true">
                                    <Image Src="images/jenkins.png" Style="margin: 2px 2px 2px 2px;text-align: center" Width="400px"/>
                                </CardGrid>
                                <CardGrid Style="width:50%;" Hoverable="true">
                                     <pre class="code">
                                        <code class="javascript">
                                            @SnippetJenkins
                                        </code>
                                    </pre>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="70" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>

            <CarouselSlick>
                <h5>r</h5>
                <Row>
                    <Col Span="18">
                        <Comment Author="Other Source Control Providers"
                                    Avatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                                    Content="Medium usage of SVN trunk system. Visual Source Safe."
                                    Datetime="">
                            <Card>
                                <CardGrid Style="width:100%;text-align:center" Hoverable="true">
                                    <Image Src="images/svn.svg" Style="margin: 2px 2px 2px 2px;text-align: center" Width="600px"/>
                                </CardGrid>
                            </Card>
                        </Comment>
                    </Col>
                    <Col Span="6">
                        <Statistic Title="Level" Value="70" Precision="2" ValueStyle="color: #3f8600;" Suffix="%">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                    </Col>
                </Row>
            </CarouselSlick>
        </Carousel>
    </Col>
</Row>
<Row>
    <Col Span="24">
        <div class="button-container">
            <Button Type="primary" OnClick="@( _=>{_carousel.Previous();_message.Success("Previous information slide", 10);})" Size="Large" Shape="@ButtonShape.Round">Previous</Button>
            <Button Type="primary" OnClick="@( _=>{_carousel.Next();_message.Success("Next information slide", 10);})" Size="Large" Shape="@ButtonShape.Round">Next</Button>
        </div>
    </Col>
</Row>

<style>
    .button-container {
        display: flex;
        justify-content: space-between;
        padding-top:4px;
    }
</style>

@code{

    private Carousel _carousel;


    const string SnippetGitActions = @"name: CI
on:
  push:
    branches: [ DES_GH_Pages ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Configurando .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.100
    - name: Publicando el artefacto
      run: dotnet publish --configuration Release --output build
    - name: Publicar en Github Pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BASE_BRANCH: DES_GH_Pages # The branch the action should deploy from.
        BRANCH: master # The branch the action should deploy to.
        FOLDER: build/wwwroot # The folder the action should deploy.
        SINGLE_COMMIT: true";

    const string SnippetJenkins = @"
#!groovy

pipeline {
  agent any

  parameters {
    string(defaultValue: """", description: 'Branch', name: 'PARAMETER01')
    string(defaultValue: """", description: 'Deploy ...', name: 'PARAMETER02')
  }

  environment {
    // Variables extraidas de gitlab -->https://github.com/jenkinsci/gitlab-plugin
    PROYECTO = 'hermesii'
    PROTOCOL_GITLAB_TARGET = 'https://' // Protocol to conect with GIT
  }";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JSRuntime.InvokeVoidAsync("highlightSnippets");
    }
}